/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

html{
	margin: 0;
	padding: 0;
	width: 100vw;
}

body, main{
	width: 100%;
	min-height: 100vh;
	margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text: #111;
	--color-background: #f5f5f5;
}

@font-face {
	font-family: "Futura Bold";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Bold.woff2) format("woff2"),
		url(../fonts/VFutura-Bold.woff) format("woff"),
		url(../fonts/VFutura-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "Futura Heavy";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Heavy.woff2) format("woff2"),
		url(../fonts/VFutura-Heavy.woff) format("woff"),
		url(../fonts/VFutura-Heavy.ttf) format("truetype");
}

@font-face {
	font-family: "Futura Light";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Light.woff2) format("woff2"),
		url(../fonts/VFutura-Light.woff) format("woff"),
		url(../fonts/VFutura-Light.ttf) format("truetype");
}

@font-face {
	font-family: "Futura Medium";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Medium.woff2) format("woff2"),
		url(../fonts/VFutura-Medium.woff) format("woff"),
		url(../fonts/VFutura-Medium.ttf) format("truetype");
}

@font-face {
	font-family: "Futura Regular";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Regular.woff2) format("woff2"),
		url(../fonts/VFutura-Regular.woff) format("woff"),
		url(../fonts/VFutura-Regular.ttf) format("truetype");
}

/***********/
/* STYLING */
/***********/

header{
	padding: 1rem 0.5rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
}

header img{
	width: 4rem;
	margin: auto;
}

header a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

body{
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: "Futura Regular", Futura, sans-serif;
	font-weight: normal;
}

.quiz, .quiz main{
	overflow: hidden;
}

.quiz main{
	padding: 1rem;
	position: relative;
	overflow: hidden;
}

.results main{
	padding: 5rem 1rem;
	background-color: white;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Futura Medium", Futura, sans-serif;
	font-weight: normal;
}

a{
	color: inherit;
	text-decoration: none;
}

.skip {
	position: absolute;
	top: 1rem;
	left: -999rem;
	opacity: 0;
	background-color: white;
	padding: 0.5rem 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem 0;
	border-radius: 0.2rem;
	z-index: 99;
}

.skip:focus {
  	opacity: 1;
	left: 50%;
	transform: translateX(-50%);
}

.quiz main section:last-child{
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	background-color: white;
	z-index: 5;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem 0;
	border-radius: 0.2rem;
}

.filters{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: scroll;
	overscroll-behavior-x:contain;
	scroll-snap-type:x mandatory;
  	scroll-behavior:smooth;
	position: relative;
}

.filters fieldset{
	border: none;
	width: 100%;
	padding: 1rem 0;
	flex-basis:100%;
	flex-shrink:0;
  	scroll-snap-align: center;
}

.filters fieldset>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
	position: absolute;
	top: 0;
}

.filters div a{
	-webkit-tap-highlight-color: transparent;
}

.filters legend{
	text-align: center;
	font-size: 1.2rem;
	font-family: "Futura Medium", Futura, sans-serif;
	font-weight: normal;
	padding: 1rem;
	max-width: 80%;
}

.filters label{
	margin: 0.2rem;
	padding: 0.5rem;
	border: 0.1rem rgba(0, 0, 0, 0.1) solid;
	border-radius: 0.2rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 0.1rem 0.5rem 0;
}

fieldset{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

small{
	color:rgba(0, 0, 0, 0.5);
	margin-left: 0.5rem;
}

/* Chairlist -------------------------------------------- */

.chairlist{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
}

.chairlist li{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	height: 6rem;
}

.chairlist.circle{
	display: flex;
}

.chairlist.circle li{
	position: initial !important;
	
}

.chairlist li a{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: all 500ms ease;
	top: 0;
	left: 0;
	transform-origin: center;
	transform: translate(0, 0) scale(1);
}

.chairlist li img{
	width: 6rem;
	margin: none;
}

.chairlist.circle li a{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.position0 { top: 30% !important; left: 20%  !important; transform: scale(2)   !important; }
.position1 { top: 30% !important; left: 60%  !important; transform: scale(2)   !important; }
.position2 { top: 50% !important; left: 40%  !important; transform: scale(2)   !important; }

.position3 { top: 15% !important; left: 40%  !important; transform: scale(1)   !important; }
.position4 { top: 18% !important; left: 70%  !important; transform: scale(1)   !important; }
.position5 { top: 30% !important; left: 90%  !important; transform: scale(1)   !important; }
.position6 { top: 50% !important; left: 90%  !important; transform: scale(1)   !important; }
.position7 { top: 65% !important; left: 70%  !important; transform: scale(1)   !important; }
.position8 { top: 70% !important; left: 40%  !important; transform: scale(1)   !important; }
.position9 { top: 65% !important; left: 10%  !important; transform: scale(1)   !important; }
.position10 { top: 50% !important; left: -10% !important; transform: scale(1)   !important; }
.position11 { top: 30% !important; left: -10% !important; transform: scale(1)   !important; }
.position12 { top: 18% !important; left: 10%  !important; transform: scale(1)   !important; }

.position13 { top: 5%  !important; left: 20%  !important; transform: scale(0.8) !important; }
.position14 { top: 5%  !important; left: 60%  !important; transform: scale(0.8) !important; }
.position15 { top: 10% !important; left: 90%  !important; transform: scale(0.8) !important; }
.position16 { top: 73% !important; left: 90%  !important; transform: scale(0.8) !important; }
.position17 { top: 80% !important; left: 60%  !important; transform: scale(0.8) !important; }
.position18 { top: 80% !important; left: 20%  !important; transform: scale(0.8) !important; }
.position19 { top: 73% !important; left: -10% !important; transform: scale(0.8) !important; }
.position20 { top: 10% !important; left: -10% !important; transform: scale(0.8) !important; }

.position21 { top: -3% !important; left: 0%   !important; transform: scale(0.6) !important; }
.position22 { top: -3% !important; left: 75%  !important; transform: scale(0.6) !important; }
.position23 { top: -5% !important; left: 40%  !important; transform: scale(0.6) !important; }

.position24, .position25, .position26, .position27, .position28, .position29 {
             top: -10%!important; left: 40%  !important; transform: scale(0.6) !important; }


/* Result list--------------------------------------------- */

.results ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.results article{
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
}

.results article p{
	color: #ef6b6b;
	margin: 0;
}

.results article h2{
	font-size: large;
	margin: 0;
}

.results ul li div{
	background-color: #f5f5f5;
	margin-bottom: 1rem;
}

 .results ul li img{
	width: 80%;
	margin: 5rem auto;
}

.result0 {order: -30};
.result1 {order: -29};
.result2 {order: -28};
.result3 {order: -27};
.result4 {order: -26};
.result5 {order: -25};
.result6 {order: -24};
.result7 {order: -23};
.result8 {order: -22};
.result9 {order: -21};
.result10 {order: -20};
.result11 {order: -19};
.result12 {order: -18};
.result13 {order: -17};
.result14 {order: -16};
.result15 {order: -15};
.result16 {order: -14};
.result17 {order: -13};
.result18 {order: -12};
.result19 {order: -11};
.result20 {order: -10};
.result21 {order: -9};
.result22 {order: -8};
.result23 {order: -7};
.result24 {order: -6};
.result25 {order: -5};
.result26 {order: -4};
.result27 {order: -3};
.result28 {order: -2};
.result29 {order: -1};
