/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
  scroll-behavior:smooth;
}

html{
	margin: 0;
	padding: 0;
	width: 100vw;
}

body, main{
	width: 100%;
	min-height: 100vh;
	margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text: #111;
	--color-background: #f5f5f5;

	--border-radius: 0.2rem;

	--box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem 0;
}

@font-face {
	font-family: "Futura Bold";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Bold.woff2) format("woff2"),
		url(../fonts/VFutura-Bold.woff) format("woff"),
		url(../fonts/VFutura-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "Futura Heavy";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Heavy.woff2) format("woff2"),
		url(../fonts/VFutura-Heavy.woff) format("woff"),
		url(../fonts/VFutura-Heavy.ttf) format("truetype");
}

@font-face {
	font-family: "Futura Light";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Light.woff2) format("woff2"),
		url(../fonts/VFutura-Light.woff) format("woff"),
		url(../fonts/VFutura-Light.ttf) format("truetype");
}

@font-face {
	font-family: "Futura Medium";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Medium.woff2) format("woff2"),
		url(../fonts/VFutura-Medium.woff) format("woff"),
		url(../fonts/VFutura-Medium.ttf) format("truetype");
}

@font-face {
	font-family: "Futura Regular";
	font-display: swap;
	src: 
		url(../fonts/VFutura-Regular.woff2) format("woff2"),
		url(../fonts/VFutura-Regular.woff) format("woff"),
		url(../fonts/VFutura-Regular.ttf) format("truetype");
}

/***********/
/* STYLING */
/***********/

header{
	padding: 1rem 0.5rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
}

header img{
	width: 4rem;
}

header a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

header a:nth-child(2){
	margin: auto;
}

body{
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: "Futura Regular", Futura, sans-serif;
	font-weight: normal;
}

.quiz, .quiz main{
	overflow: hidden;
}

.quiz main{
	padding: 1rem;
	position: relative;
	overflow: hidden;
}

.results main{
	padding: 5rem 1rem;
	background-color: white;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Futura Medium", Futura, sans-serif;
	font-weight: normal;
}

a{
	color: inherit;
	text-decoration: none;
}

.skip {
	position: absolute;
	top: 1rem;
	left: -999rem;
	opacity: 0;
	background-color: white;
	padding: 0.5rem 1rem;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	z-index: 99;
}

.skip:focus {
  	opacity: 1;
	left: 50%;
	transform: translateX(-50%);
}

.quiz main section:last-child{
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	background-color: white;
	z-index: 5;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}

.filters{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: scroll;
	overscroll-behavior-x:contain;
	scroll-snap-type:x mandatory;
	position: relative;
}

.filters fieldset{
	border: none;
	width: 100%;
	padding: 1rem 0;
	flex-basis:100%;
	flex-shrink:0;
  	scroll-snap-align: center;
}

.filters fieldset>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
	position: absolute;
	top: 0;
}

.filters div a{
	-webkit-tap-highlight-color: transparent;
}

.filters legend{
	text-align: center;
	font-size: 1.2rem;
	font-family: "Futura Medium", Futura, sans-serif;
	font-weight: normal;
	padding: 1rem;
	max-width: 80%;
}

.filters label{
	margin: 0.2rem;
	padding: 0.5rem;
	border: 0.1rem rgba(0, 0, 0, 0.1) solid;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

fieldset{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

small{
	color:rgba(0, 0, 0, 0.5);
	margin-left: 0.5rem;
}

/* Chairlist -------------------------------------------- */

.chairlist{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
}

.chairlist li{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	height: 6rem;
}

.chairlist.circle{
	display: flex;
}

.chairlist.circle li{
	position: initial !important;
	
}

.chairlist li a{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: all 500ms ease;
	top: 0;
	left: 0;
	transform-origin: center;
	transform: translate(0, 0) scale(1);
}

@media (prefers-reduced-motion: reduce) {
	.chairlist li a{
		transition: all 2s ease;
	}
}

.chairlist li img{
	width: 6rem;
	margin: 0;
}

.chairlist.circle li a{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.position0 { top: 30% !important; left: 20%  !important; transform: scale(2)   !important; }
.position1 { top: 30% !important; left: 60%  !important; transform: scale(2)   !important; }
.position2 { top: 50% !important; left: 40%  !important; transform: scale(2)   !important; }

.position3 { top: 15% !important; left: 40%  !important; transform: scale(1)   !important; }
.position4 { top: 18% !important; left: 70%  !important; transform: scale(1)   !important; }
.position5 { top: 30% !important; left: 90%  !important; transform: scale(1)   !important; }
.position6 { top: 50% !important; left: 90%  !important; transform: scale(1)   !important; }
.position7 { top: 65% !important; left: 70%  !important; transform: scale(1)   !important; }
.position8 { top: 70% !important; left: 40%  !important; transform: scale(1)   !important; }
.position9 { top: 65% !important; left: 10%  !important; transform: scale(1)   !important; }
.position10 { top: 50% !important; left: -10% !important; transform: scale(1)   !important; }
.position11 { top: 30% !important; left: -10% !important; transform: scale(1)   !important; }
.position12 { top: 18% !important; left: 10%  !important; transform: scale(1)   !important; }

.position13 { top: 5%  !important; left: 20%  !important; transform: scale(0.8) !important; }
.position14 { top: 5%  !important; left: 60%  !important; transform: scale(0.8) !important; }
.position15 { top: 10% !important; left: 90%  !important; transform: scale(0.8) !important; }
.position16 { top: 73% !important; left: 90%  !important; transform: scale(0.8) !important; }
.position17 { top: 80% !important; left: 60%  !important; transform: scale(0.8) !important; }
.position18 { top: 80% !important; left: 20%  !important; transform: scale(0.8) !important; }
.position19 { top: 73% !important; left: -10% !important; transform: scale(0.8) !important; }
.position20 { top: 10% !important; left: -10% !important; transform: scale(0.8) !important; }

.position21 { top: -3% !important; left: 0%   !important; transform: scale(0.6) !important; }
.position22 { top: -3% !important; left: 75%  !important; transform: scale(0.6) !important; }
.position23 { top: -5% !important; left: 40%  !important; transform: scale(0.6) !important; }

.position24, .position25, .position26, .position27, .position28, .position29 {
             top: -10%!important; left: 40%  !important; transform: scale(0.6) !important; }


/* Start -------------------------------------------------- */

.start main{
	overflow: hidden;
	background-color: white;
}

.start main > img{
	width: 250vw;
	position: fixed;
	left: 50%;
	top: 50%;
	transform-origin: center;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.9);
	animation: fade-turn 1s forwards 3s, rotate 120s linear infinite;
	pointer-events: none;
}

.start div{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 75vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.start div img{
	width: 6rem;
}

.start div a{
	background-color: #333333;
	padding: 0.5rem 4rem;
	border-radius: var(--border-radius);
	color: white;
}

.start div:first-of-type{
	background-color: white;
	z-index: 10;
	width: 100vw;
	height: 100vh;

	opacity: 1;
	pointer-events: none;
	animation: disappear 1s forwards 2s;
}

.start div:last-of-type{
	animation: fade-up 1s forwards 3s;
	opacity: 0;
}

@keyframes disappear{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes fade-up{
	0%{
		opacity: 0;
		transform: translate(-50%, -40%);
	}
	100%{
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes fade-turn{
	0%{
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.9);
	}
	100%{
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.start div:first-of-type svg{
	width: 6rem;

	fill: none;
	stroke: black;
	stroke-width: 0.05rem;
}

@keyframes rotate{
    from {
      	transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      	transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Result list--------------------------------------------- */

.results ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.results article{
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	gap: 0.5rem;
}

.results article p{
	color: #ef6b6b;
	margin: 0;
}

.results article h2{
	font-size: large;
	margin: 0;
}

.results ul li div{
	background-color: #f5f5f5;
	margin-bottom: 1rem;
}

 .results ul li img{
	width: 80%;
	margin: 5rem auto;
}

/* Details page --------------------------------------------- */

.details main > a{
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	z-index: 20;
}

.details ul{
	list-style: none;
	padding-bottom: 20rem;
}

.details section{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	pointer-events: none;
}

.details label{
	pointer-events: all;
	z-index: 10;
}

.details label:after{
	content: "";
	background-color: black;
	opacity: 0;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transition: all 500ms ease;
}

.details input{
	display: none;
}

.details section div > div:first-of-type{
	overflow: hidden;
	max-height: 0;
	transition: all 500ms ease;
	opacity: 0;
}

.details ul li img{
	width: 90vw;
}

.details section > div{
	padding: 0.5rem;
	margin: 1rem;
	background-color: white;
	text-align: center;
	pointer-events: all;
	z-index: 10;
	border-radius: var(--border-radius);
}

.details div > div{
	padding: 1rem;
}

.details h1{
	font-size: 1.2rem;
	transition: all 200ms ease;
}

.details details{
	text-align: left;
	font-size: 0.9rem;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.details details strong{
	display: block;
}

.details summary{
	display: inline;
	padding: 0 0.5rem;
}

.details details div{
	max-height: 0;
	transition: all 200ms ease;
}

.details details[open] div{
	max-height: 20rem;
}

.details summary::after{
	content: "▼";
	position: absolute;
	right: 0;
	transform: translate(-300%, -50%);
}

.details div > div:last-of-type{
	display: flex;
	gap: 0.5rem;
}

.details div > div a{
	box-shadow: var(--box-shadow);
	padding: 0.5rem;
	width: 100%;
	border-radius: var(--border-radius);
}

.details div > div a:last-of-type{
	background-color: #333333;
	color: white;
}

.details input[type="checkbox"]:checked ~ label{
	background-color: yellow;
}

.details input[type="checkbox"]:checked ~ label:after{
	opacity: 0.5;
}

.details input[type="checkbox"]:checked ~ div > div:first-of-type{ 
	max-height: 60vh;
	opacity: 1;
	overflow: auto;
}

.details input[type="checkbox"]:checked ~ div h1{
	font-size: 2rem;
}